<div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 76px - 24px - 88px);">
    <div class="row justify-content-md-center flex-grow-1">
        <div class="col-4 text-center">
            <h1 class="display-4 mb-3 fw-bold text-center">Oops :(</h1>

            <p class="fs-3 text-center mb-5 text-muted">Something went wrong.</p>

            <a href="/" class="btn btn-outline-secondary">Back to homepage</a>
        </div>
    </div>
</div>