<div class="d-flex gap-2 align-items-center">
    <div class="rounded-circle p-1" style="width: 24px; height: 24px; background-color: #cecece;">
        <i class="bi bi-person-fill d-flex"></i>
    </div>

    <a class="text-decoration-none" href="/users/{{authorId}}">{{authorName}}</a>
</div>