<footer class="w-100 bg-dark text-light">
    <div class="container py-4">
        <p class="text-center">Blog built for <a class="text-decoration-none" href="https://ithillel.ua/">Hillel</a> by
            <a class="text-decoration-none" href="https://github.com/cross-development">Vitalii Derda</a>.
        </p>
    </div>
</footer>