<!DOCTYPE html>
<html lang="en">

{{> head }}

<body class="d-flex align-items-center flex-column vh-100">
    {{> navbar }}

    <main class="pb-4 container" style="padding-top: 76px;">
        {{{ body }}}
    </main>


    {{> footer }}
</body>

</html>