<div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 76px - 24px - 88px);">
    <div class="row justify-content-md-center align-items-center flex-grow-1">
        <div class="col-4">
            <form method="POST">
                <h1 class="h3 mb-4 fw-bold text-center">Sign up</h1>

                <div class="form-floating mb-2">
                    <input required type="name" id="name" name="name" class="form-control">
                    <label for="name">Name</label>
                </div>

                <div class="form-floating mb-2">
                    <input required type="email" id="email" name="email" class="form-control">
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-4">
                    <input required type="password" id="password" name="password" class="form-control">
                    <label for="password">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-secondary fs-6" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>