<div style="row">
    <div class="col-8 mx-auto my-5">
        <a class="btn btn-sm btn-outline-dark d-inline-flex align-items-center" href="/posts">
            <i class="bi bi-chevron-left me-2 d-flex"></i>
            Back
        </a>
    </div>

    <div class="col-8 mx-auto my-5">
        <h1 class="h1 mb-4 text-center">Create a new post</h1>

        <form method="post" class="d-flex flex-column">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input required type="text" id="title" name="title" class="form-control">
            </div>

            <div class="mb-4">
                <label for="content" class="form-label">Content</label>
                <textarea required name="content" rows="4" id="content" name="content" class="form-control p-2"
                    style="resize: none;"></textarea>
            </div>

            <button class="btn btn-secondary fs-6 align-self-center px-5" type="submit">Publish</button>
        </form>
    </div>
</div>